APP_NAME="Legacy Delivery"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=legacy_delivery
DB_USERNAME=legacy_user
DB_PASSWORD=legacy_pass

CACHE_DRIVER=redis
SESSION_DRIVER=file
QUEUE_CONNECTION=sync
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log

WOMPI_API_KEY=test_wompi_key_placeholder
WOMPI_ENDPOINT=https://sandbox.wompi.co/v1
N1CO_API_KEY=test_n1co_key_placeholder
N1CO_ENDPOINT=https://sandbox.n1co.com/v2
BAC_API_KEY=test_bac_key_placeholder
BAC_ENDPOINT=https://sandbox.bac.com/v1
